.fl {
    float: left;
}
.fr{
    float: right;
}
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}
/*
    HEADER BLOCK
 */
.header{
    background-color: lightgray;
    height: 100%;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
}
.img{
    float: left;
}
.button{
    float: right;
}
.nav-icon{
    display: none;
}
.search-cheat{
    display: none;
}
/*
    CONTENT BLOCK
 */
.left-sidebar{
    display: none;
 }
.right-sidebar{
    display: none;
}
.content{
    background-color: cadetblue;
    padding: 2%;
}
/*
    FOOTER BLOCK
 */
.footer{
    background-color: burlywood;
    height: 8%;
    padding: 2%;
}
.footer div p{
    text-align: center;
}

/************************* TABLET P **********************/

@media (min-width:50em) {
    /*
        HEADER BLOCK
     */
    .button{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    .nav{
        list-style-type: none;
        float: left;
    }
    .nav li{
        display: inline-block;
        padding-right: 4px;
    }
    .icon{
        list-style-type: none;
        float: right;
    }
    .icon li{
        display: inline-block;
        padding-right: 2px;
    }
    .search-cheat{
        display: block;
        color: white;
        text-align: center;
        height: 6%;
        width: 50%;
        border: 1px black solid;
        margin: 0 auto 2% auto;
    }
    /*
        CONTENT BLOCK
     */
    .left-sidebar{
        display: block;
        background-color: cadetblue;
        padding: 2%;
        float: left;
        width: calc(25% - 8%);
        height: 50em;
    }
    .left-sidebar ul{
        list-style-type: none;
    }
    .left-sidebar ul li{
        padding-bottom: 20px;
    }
    .content{
        float: left;
        width: 75%;
        height: 50em;
    }
}
/***************************** TABLET L **************************/

@media(min-width: 63.75em){
    /*
        HEADER BLOCK
     */
    .search-cheat{
        display: none;
    }
    /*
        CONTENT BLOCK
     */
    .container{
        background-color: lightgray;
    }
    .left-sidebar{
        float: none;
        height: auto;
        width: auto;
        text-align: center;
    }
    .left-sidebar ul li{
        display: inline-block;
        padding-right: 40px;
    }
    .content{
        float: none;
        height:auto;
        width: auto;
    }
    .right-sidebar{
        display: block;
    }
    .left{
        float: left;
        width: 70%;
    }
    .right{
        float: left;
        width: 30%;
        background-color: lightgray;
    }
    .right div{
        padding-bottom: 60px;
        text-align: center;
    }
    .search{
        margin-top: 15%;
    }
    .search p{
        border: 2px solid black;
        color: white;
    }
    .newsletter{
        background-color: burlywood;
        padding: 5%;
        margin-bottom: 8%;
    }
    .ads div{
        background-color: green;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }
}
/********************************* DESKTOP ****************/
@media (min-width: 76.25em) {
    .left-sidebar ul li{
        padding-bottom: 20px;
    }
    .content{
        float: left;
        width: 75%;
        height: 50em;
    }
    .left-sidebar{
        display: block;
        background-color: cadetblue;
        padding: 2%;
        float: left;
        width: calc(25% - 8%);
        height: 50em;
    }
}
/********************************* WIDE ********************/
@media (min-width: 90.625em){
    .header{
        float: left;
        width: 11%;
    }
    .left-sidebar{
        width: 10%;
    }
    .content{
        width: 69%;
    }
    .right{
        width: 10%;
    }
    .nav{
        float: none;
    }
    .icon{
        float: none;
    }
    .img{
        float: none;
    }
}
